body {
    background-image: url("userkabg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
   }
#card1{
    background-color: #bf80ff;
}  
#card2{
    background-color: #bf80ff;
}   
#card3{
    background-color: #bf80ff;
}  
#card4{
    background-color: #bf80ff;
}  
#card5{
    background-color: #bf80ff;
}  
#card6{
    background-color: #bf80ff;
}  
#card7{
    background-color: #bf80ff;
}  
#card8{
    background-color: #bf80ff;
} 